.page {
	display: flex;
	flex-direction: column;
	gap: 120px;
	max-width: clamp(0px, 100%, 1280px);
	margin: 0 auto;
}

.tabs {
	display: flex;
	list-style: none;
	border-bottom: 2px solid rgba(245, 242, 236, 0.1);
}
