.wrapper {
	display: flex;
	width: 100%;
	height: max-content;
	gap: clamp(16px, 1.5vw, 28px);
	justify-content: space-between;
}

.data {
	color: var(--accent);
	display: flex;
	gap: 6px;
	justify-content: center;
	align-items: center;
}
.img_container {
	display: flex;
	width: 22px;
	height: 22px;
}
.val {
	font-size: clamp(12px, 1.5vw, 14px);
	color: var(--cream);
}
