.pageWrapper {
	width: 100%;
	padding: 40px 20px;
	display: flex;
	justify-content: center;
}

.articleContent {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1240px;
}

.articleContent > * + * {
	margin-top: 1.25rem;
}

.articleContent > * + h2,
.articleContent > * + h3 {
	margin-top: 3rem;
}

.articleContent h3 + p {
	margin-top: 0.75rem;
}
